/* Estilos Globais */
body {
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Banner */
.banner {
    background-image: linear-gradient(#00000099, #31a8dd33, #00000099), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner-content {
    color: #f5f5f5;
    width: 100%; 
    max-width: 600px; 
    margin: auto;
    text-align: center;
}

.banner-content h1 {
    font-size: 3rem; 
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
}

.banner-content p {
    font-size: 1.5rem;
    margin: 16px 0 32px 0;
}

.banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #31a8dd33;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.banner-content button:hover {
    background: linear-gradient(#3BA1CD, #1572B7);
    color: #f5f5f5;
    border-radius: 30px;
}

.banner-content button a{
    text-decoration: none;
    color: #f5f5f5;
}

/* Main Content */
main {
    margin: 50px auto;
}

/* Course Content */
#course-content {
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

#course-content h2 {
    color: #f5f5f5;
    font-size: 2.5rem; 
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#course-content p {
    color: #f5f5f5;
    font-size: 1.25rem;
    margin: 16px 0;
}

.modules-list {
    margin: 24px 0;
}

.module {
    color: #f5f5f5;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    border-radius: 30px;
    padding: 16px;
    box-shadow: inset -5px 6px 8px #201f24;
}

/* Transform World Section */
#transform-world {
    height: 300px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 100px 20px;
    text-align: center;
}

#transform-world p {
    color: #f5f5f5;
    font-size: 2.5rem; 
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 3px 2px #33A8DB;
}

/* Professional Challenges Section */
#professional-challenges {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#professional-challenges img {
    width: 100%;
    max-width: 500px;
    margin: 32px 0;
}

#professional-challenges p {
    color: #f5f5f5;
    font-size: 1.25rem;
    margin: 16px 0;
}

/* Footer */
footer {
    text-align: center;
    margin: 32px 0;
    background-image: linear-gradient(#00000099, #31a8dd33, #00000099), url('../images/banner.png');
    padding: 20px;
}

footer p {
    color: #f5f5f5;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content p {
        font-size: 1.2rem;
    }

    #course-content h2 {
        font-size: 2rem;
    }

    #transform-world p {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 80vh; 
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    #course-content h2 {
        font-size: 1.5rem;
    }

    #transform-world p {
        font-size: 1.5rem;
    }

    #professional-challenges p {
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem;
    }
}
